<%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="page">
	<div class="jumbotron gradient">
		<h1>Welcome to my Cake Gallery</h1>
	</div>


	<div class="container">
		<div class="responsive grid-container">
		  <div class="gallery">
		      <%= image_tag(src="cake-1.jpg", alt: "", class: "responsive img") %>
		    </a>
		    <div class="desc">2 tier 5” round vanilla bean smash cake with a thin layer of strawberry mousse in between the two tiers, covered with a cream cheese buttercream and normal vanilla buttercream roses.</div>
		  </div>
		</div>
		<div class="responsive grid-container">
			<div class="gallery">
		      <%= image_tag(src="cake-2.jpg", alt: "", class: "responsive img") %>
		    </a>
		    <div class="desc">8” Dark Chocolate cake with semi sweet chunks baked inside, topped with vanilla buttercream.</div>
		  </div>
		</div>
		<div class="responsive grid-container">
			<div class="gallery">
		      <%= image_tag(src="cake-3.jpg", alt: "", class: "responsive img") %>
		    </a>
		    <div class="desc">10” Chocolate Coconut cake, crumb coated with thick buttercream and covered in marshmallow fondant</div>
		  </div>
		</div>
		<div class="responsive grid-container">
			<div class="gallery">
		      <%= image_tag(src="cake-3a.jpg", alt: "", class: "responsive img") %>
		    </a>
		    <div class="desc">Close up of individual penguins</div>
		  </div>
		</div>
		<div class="responsive grid-container">
			<div class="gallery">
		      <%= image_tag(src="cake-4a.jpg", alt: "", class: "responsive img") %>
		    </a>
		    <div class="desc">5” Small gender reveal cake, inside is simple moist white cake dyed pink to reveal the gender, crumb coated in white mousse and covered in marshmallow fondant, topped with a model of a baby in modeling chocolate(edible but not recommended)</div>
		  </div>
		</div>
		<div class="responsive grid-container">
			<div class="gallery">
		      <%= image_tag(src="cake-5.jpg", alt: "", class: "responsive img") %>
		    </a>
		    <div class="desc">8” Simple dark chocolate cake covered in a thick, rich fudge</div>
		  </div>
		</div>
		<div class="responsive grid-container">
			<div class="gallery">
		      <%= image_tag(src="cake-6.jpg", alt: "", class: "responsive img") %>
		    </a>
		    <div class="desc">10” Decoration cake only. Styrofoam inside covered in buttercream and fondant. Topper has Styrofoam as well. (Not edible</div>
		  </div>
		</div>
		<div class="responsive grid-container">
			<div class="gallery">
		      <%= image_tag(src="cake-7.jpg", alt: "", class: "responsive img") %>
		    </a>
		    <div class="desc">Simple white cake 1/4th sheet filled with Banana’s, Strawberries and Custard. Covered in Vanilla Bean Whipped Cream and decorated in Buttercream.</div>
		  </div>
		</div>
		<div class="responsive grid-container">
			<div class="gallery">
		      <%= image_tag(src="cake-8.jpg", alt: "", class: "responsive img") %>
		    </a>
		    <div class="desc">Chocolate 1/8th sheet filled with custard and banana’s topped in vanilla buttercream.</div>
		  </div>
		</div>
		<div class="responsive grid-container">
			<div class="gallery">
		      <%= image_tag(src="cake-9.jpg", alt: "", class: "responsive img") %>
		    </a>
		    <div class="desc">Red Velvet 1/4th sheet filled with Custard only, topped in vanilla bean whipped cream</div>
		  </div>
		</div>
		<div class="responsive grid-container">
			<div class="gallery">
		      <%= image_tag(src="cupcake-1.jpg", alt: "", class: "responsive img") %>
		    </a>
		    <div class="desc">Cupcake</div>
		  </div>
		</div>
	</div>
</div>
